
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */