@font-face {
  font-family: 'menu';
  src: url('../font/menu.eot?22859609');
  src: url('../font/menu.eot?22859609#iefix') format('embedded-opentype'),
       url('../font/menu.woff2?22859609') format('woff2'),
       url('../font/menu.woff?22859609') format('woff'),
       url('../font/menu.ttf?22859609') format('truetype'),
       url('../font/menu.svg?22859609#menu') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'menu';
    src: url('../font/menu.svg?22859609#menu') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "menu";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */